h2 {
    color: red;
    font-family: arial;
    text-align: center;
    background-color: aqua;
}

p {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: blue;
    font-size: 0, 5cm;
    text-align: center;
}

div {
    width: 4cm;
    height: 4cm;
    background-color: yellow;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    margin-left: 150px;
}
.destacados{
    color: red;
    font-size: 35px;
}